{% extends '::base.html.twig' %}
{% block content %}

<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>Modus</h1>
        </div>
    </div>
    <div class="span1">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn" href="{{ path('modus_new') }}">
            <i class="fa fa-plus"></i>
        </a>
        {% endif %}    
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Anzahlrunden</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.anzahlRunden }}</td>
            <td>
                        <a class="btn" href="{{ path('modus_show', { 'id': entity.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% if isGrantedEdit == true %}
                        <a class="btn" href="{{ path('modus_edit', { 'id': entity.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% endif %}
                    </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
