{% extends '::base.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-md-11">
        <div class="page-header">
            <h1>{{ entity.spieler }} 
                <small>{{ entity.status }}</small>
            </h1>
            <p>
                <a href="{{ path('mannschaft_show', { 'id': entity.mannschaft.id }) }}">{{ entity.mannschaft }}</a>
            </p>
        </div>
    </div>
    <div class="col-md-1">
        <a class="btn btn-default" href="{{ path('mannschaftspieler') }}">
            <i class="fa fa-list"></i>
        </a>
        {% if isGrantedEdit == true %}
        <a class="btn btn-default" href="{{ path('mannschaftspieler_edit', { 'id': entity.id }) }}">
            <i class="fa fa-pencil"></i>
        </a>
        {% endif %}
        {% if is_granted('ROLE_REGION_MANAGEMENT') %}
        <form  action="{{ path('mannschaftspieler_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button  class="btn btn-default"  type="submit"><i class="fa fa-trash"></i></button>
            </form>
        {% endif %}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Spielerinfos</th>
                <td><a href="{{ path('spieler_show', { 'id': entity.spieler.id }) }}">Spielerinfos</a></td>
            </tr>
            <tr>
                <th>Liga</th>
                <td><a href="{{ path('liga_show', { 'id': entity.mannschaft.ligasaison.liga.id }) }}">{{ entity.mannschaft.ligasaison.liga }}</a></td>
            </tr>
            <tr>
                <th>Bestätigt</th>
                <td>{% if entity.bestaetigt > 0 %}<i class="fa fa-check"></i>{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
