{% extends '::base.html.twig' %}
{% block content %}
<h1>MannschaftSpieler</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Bestaetigt</th>
            <td>{{ entity.bestaetigt }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('mannschaftspieler') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mannschaftspieler_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('mannschaftspieler_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
