<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
{% stylesheets '@LiganetCoreBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
 {% endstylesheets %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('_home') }}"><strong>Liganet</strong></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="{{ path('_home') }}">Home</a></li>
                            <li><a href="{{ path('verband') }}">Verband</a></li>
                            <li><a href="{{ path('region') }}">Region</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="navbar-text">{{ app.user.username }}</li>
                                <li class="divider-vertical"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            {% endif %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            <div class="container">
                     {% if app.session.hasFlash('error') %}
                    <div class="alert alert-error" ></button>{{ app.session.flash('error') }}</div>
                    {% endif %}
                    {% if app.session.hasFlash('notice') %}
                    <div class="alert" ></button>{{ app.session.flash('notice') }}</div>
                    {% endif %}
                    {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success" ></button>{{ app.session.flash('success') }}</div>
                    {% endif %}
                    
                    {% block content_head %}{% endblock %}
                    <div>{% block content %}{% endblock %}</div>
                    {% block body %}{% endblock %}
                    <div>{% block fos_user_content %}{% endblock fos_user_content %}</div>
                    <footer>
                        <p>&copy; Company 2012</p>
                    </footer>
                </div> <!-- /container -->
        {% javascripts
    '@LiganetCoreBundle/Resources/public/js/vendor/*' 
'@LiganetCoreBundle/Resources/public/js/main.js'%}
                <script src="{{ asset_url }}"></script>
{% endjavascripts %}
            </body>
        </html>
