<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Liganet</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stammdaten <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('verband_index') }}">Verbände</a></li>
                        <li><a href="{{ path('region_index') }}">Regionen</a></li>
                        <li><a href="{{ path('liga_index') }}">Ligen</a></li>
                        <li><a href="{{ path('verein_index') }}">Vereine</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ligaeinstellungen <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('saison_index') }}">Saison</a></li>
                        <li><a href="{{ path('ligasaison_index') }}">Zuordnung Liga und Saison</a></li>
                        <li><a href="{{ path('mannschaft_index') }}">Mannschaften</a></li>
                        <li><a href="{{ path('spieltag_index') }}">Spieltage</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('spielerstatus_index') }}">Status der Mannschaftsspieler</a></li>
                        <li><a href="{{ path('modus_index') }}">Modus</a></li>
                        <li><a href="{{ path('modusrunden_index') }}">Runden bei Modus</a></li>
                        <li><a href="{{ path('spielart_index') }}">Spieldefinition bei Modus</a></li>
                        <li><a href="{{ path('document_index') }}">Dokumente</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Link</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ include('spieler/showInMenu.html.twig') }}
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>