{% extends 'base.html.twig' %}

{% block content %}
    <h1>Saison list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Saison</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saison in saisons %}
            <tr>
                <td><a href="{{ path('saison_show', { 'id': saison.id }) }}">{{ saison.id }}</a></td>
                <td>{{ saison.saison }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('saison_show', { 'id': saison.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('saison_edit', { 'id': saison.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saison_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
