<h2>Spieler</h2>
<table class="table table-striped">
    <tbody>
        {% for spieler in verein.spieler if spieler.spielerextern and lastSaison == spieler.spielerextern.lizenzJahr %}
            <tr>
                <td><a href="{{ path('spieler_show', { 'id': spieler.id }) }}">
                        {{ spieler.vorname }} {{ spieler.nachname }} {{ spieler.spielerextern.lizenzJahr }}
                    </a></td>
                <td>{{ spieler.nummerlizenz }}</td>
                <td>
                    {% if is_granted("edit", spieler) %}
                        <a class="btn btn-default pull-right" href="{{ path('spieler_edit', { 'id': spieler.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                    {% if is_granted("view", spieler) %}
                        <a class="btn btn-default pull-right" href="{{ path('spieler_show', { 'id': spieler.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
