<h2>Spiele</h2>

<table class="table">
    <tbody>
        {% for entity in ergebnisse %}

            <tr>
                <td style="background-color: {{ entity.begegnung.spielrunde.spieltag.ligasaison.liga.farbeTabellenKopf }}; color: {{ entity.begegnung.spielrunde.spieltag.ligasaison.liga.farbeTabellenKopfSchrift }};">
                    {{ entity.begegnung.spielrunde.spieltag.ligasaison.liga.kuerzel }}<br />
                    {{ entity.begegnung.spielrunde.spieltag.datum|date('d.m.Y') }}
                </td>
                <td>{% if entity.begegnung.mannschaft1.verein.document %}
                    <img alt="Logo {{ entity.begegnung.mannschaft1.verein.namekurz }}" src="{{ asset(entity.begegnung.mannschaft1.verein.document.webpath) }}" class="img-polaroid pull-left" style="height: 48px; margin-right: 5px"/> 
                {% else %}
                    {{ entity.begegnung.mannschaft1.verein }}
                    {% endif %}
                    </td>
                    <td>
                        {% if entity.spieler11 %}
                            {% if entity.spieler11==entity.ersatzFuer1 %}
                                <img src="{{ asset('img/ausgewechselt.png') }}" />
                            {% endif %}
                            {% if entity.spieler11.id==spielerid %}
                                <strong>{{ entity.spieler11 }}</strong>
                            {% else %}
                                {{ entity.spieler11 }}
                            {% endif %}
                        {% endif %} 
                        {% if entity.spieler12 %}
                            <br />
                            {% if entity.spieler12==entity.ersatzFuer1 %}
                                <img src="{{ asset('img/ausgewechselt.png') }}" />
                            {% endif %}
                            {% if entity.spieler12.id==spielerid %}
                                <strong>{{ entity.spieler12 }}</strong>
                            {% else %}
                                {{ entity.spieler12 }}
                            {% endif %}
                        {% endif %} 
                        {% if entity.spieler13 %}
                            <br />
                            {% if entity.spieler13==entity.ersatzFuer1 %}
                                <img src="{{ asset('img/ausgewechselt.png') }}" />
                            {% endif %}
                            {% if entity.spieler13.id==spielerid %}
                                <strong>{{ entity.spieler13 }}</strong>
                            {% else %}
                                {{ entity.spieler13 }}
                            {% endif %}
                        {% endif %}
                        {% if entity.ersatz1 %}
                            <br />
                            <img src="{{ asset('img/eingewechselt.png') }}" />
                            {% if entity.ersatz1.id==spielerid %}

                                <strong>{{ entity.ersatz1 }}</strong>
                            {% else %}
                                {{ entity.ersatz1 }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ entity.kugeln1 }} : {{ entity.kugeln2 }}</td>
                    <td>
                        {% if entity.spieler21 %}
                            {% if entity.spieler21==entity.ersatzFuer2 %}
                                <img src="{{ asset('img/ausgewechselt.png') }}" />
                            {% endif %}
                            {% if entity.spieler21.id==spielerid %}
                                <strong>{{ entity.spieler21 }}</strong>
                            {% else %}
                                {{ entity.spieler21 }}
                            {% endif %}
                        {% endif %} 
                        {% if entity.spieler22 %}
                            <br />
                            {% if entity.spieler22==entity.ersatzFuer2 %}
                                <img src="{{ asset('img/ausgewechselt.png') }}" />
                            {% endif %}
                            {% if entity.spieler22.id==spielerid %}
                                <strong>{{ entity.spieler22 }}</strong>
                            {% else %}
                                {{ entity.spieler22 }}
                            {% endif %}
                        {% endif %} 
                        {% if entity.spieler23 %}
                            <br />
                            {% if entity.spieler23==entity.ersatzFuer2 %}
                                <img src="{{ asset('img/ausgewechselt.png') }}" />
                            {% endif %}
                            {% if entity.spieler23.id==spielerid %}
                                <strong>{{ entity.spieler23 }}</strong>
                            {% else %}
                                {{ entity.spieler23 }}
                            {% endif %}
                        {% endif %}
                        {% if entity.ersatz2 %}
                            <br />
                            <img src="{{ asset('img/eingewechselt.png') }}" />
                            {% if entity.ersatz2.id==spielerid %}

                                <strong>{{ entity.ersatz2 }}</strong>
                            {% else %}
                                {{ entity.ersatz2 }}
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>{% if entity.begegnung.mannschaft2.verein.document %}
                        <img alt="Logo {{ entity.begegnung.mannschaft2.verein.namekurz }}" src="{{ asset(entity.begegnung.mannschaft2.verein.document.webpath) }}" class="img-polaroid pull-left" style="height: 48px; margin-right: 5px"/> 
                        {% else %}
                            {{ entity.begegnung.mannschaft2.verein }}
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


