{% extends '::base.html.twig' %}
{% block content %}

<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>Vereine</h1>
        </div>
    </div>
    <div class="span1">
        {% if is_granted('ROLE_LEAGUE_MANAGEMENT') %}
        <a class="btn" href="{{ path('verein_new') }}">
            <i class="icon-plus"></i>
        </a>
        {% endif %}    
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Namekurz</th>
            <th>Kuerzel</th>
            <th>Nummer</th>
            <th>Kontakt</th>
            <th>Homepage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.document %}
                        <img alt="Logo {{ entity }}" src="{{ asset(entity.document.webpath) }}" style="height: 60px" />
                    {% endif %}
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.namekurz }}</td>
                    <td>{{ entity.kuerzel }}</td>
                    <td>{{ entity.nummer }}</td>
                    <td>{{ entity.kontakt }}</td>
                    <td><a href="{{ entity.homepage }}" target="_blank">{{ entity.homepage }}</a></td>
                    <td>
                        <a class="btn" href="{{ path('verein_show', { 'id': entity.id }) }}">
                            <i class="icon-arrow-right"></i>
                        </a>
                        {% if isGrantedEdit == true %}
                        <a class="btn" href="{{ path('verein_edit', { 'id': entity.id }) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
    {% endfor %}
            </tbody>
        </table>

{% endblock %}
