{% extends '::base.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="span8">
        <div class="page-header">
            <h1>
        {% if entity.document %}
                    <img alt="Logo {{ entity.namekurz }}" src="{{ asset(entity.document.webpath) }}" class="img-polaroid" /> 
        {% endif %}
        {{ entity.namekurz }}
                </h1>
                <p>{{ entity.name }}</p>
            </div>

            <a class="btn" href="{{ path('verband') }}">
                Back to the list
            </a>

            <a class="btn" href="{{ path('verband_edit', { 'id': entity.id }) }}">
                Edit
            </a>

            <form action="{{ path('verband_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                    <button class="btn" type="submit">Delete</button>
                </form>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Kuerzel</th>
                            <td>{{ entity.kuerzel }}</td>
                        </tr>
                        <tr>
                            <th>Nummer</th>
                            <td>{{ entity.nummer }}</td>
                        </tr>
                        <tr>
                            <th>Kontakt</th>
                            <td><a href="{{ path('spieler_show', { 'id': entity.kontakt.id }) }}">{{ entity.kontakt }}</a></td>
                        </tr>
                        <tr>
                            <th>Homepage</th>
                            <td><a href="{{ entity.homepage }}">{{ entity.homepage }}</a></td>
                        </tr>
                    </tbody>
                </table>
                <h2>Mannschaften</h2>
                {% for mannschaft in entity.mannschaften %}
                <p><a href="{{ path('mannschaft_show', { 'id': mannschaft.id }) }}">{{ mannschaft }}</a></p>
                {% endfor %}
                </div>
                <div class="span4">
                    <h2>Spieler</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Lizenznummer</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                            {% for spieler in entity.spieler %}
                        <tr>
                            <td><a href="{{ path('spieler_show', { 'id': spieler.id }) }}">
                                {{ spieler.vorname }} {{ spieler.nachname }}
                                        </a></td>
                                    <td>{{ spieler.nummerlizenz }}</td>
                                </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
{% endblock %}
