{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-11">
            <div class="page-header">
                <h1>Regionen</h1>
            </div>
        </div>
        <div class="col-md-1">
            {% if is_granted('ROLE_UNION_MANAGEMENT') %}
                <a class="btn btn-default" href="{{ path('region_new', { 'verband_id': 0 }) }}">
                    <i class="fa fa-plus"></i>
                </a>
            {% endif %}    
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Kürzel</th>
                <th>Beschreibung</th>
                <th>Tabelleninhalt</th>
                <th>Tabelle zweite Kopfzeile</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in regions %}
                <tr>
                    <td>
                        {% if entity.document %}
                            <img class="media-object" alt="Logo {{ entity }}" src="{{ asset(entity.document.webpath) }}" style="height: 64px" />
                        {% endif %}
                    </td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.namekurz }}</td>
                    <td>{{ entity.description }}</td>
                    <td style="background-color: {{ entity.farbeTabelleHintergrund }}; color: {{ entity.farbeTabelleSchrift }};">Beispiel</td>
                    <td style="background-color: {{ entity.farbeTabelleZeile2Hintergrund }}; color: {{ entity.farbeTabelleZeile2Schrift }};">Beispiel</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('region_show', { 'id': entity.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% if is_granted('ROLE_REGION_MANAGEMENT') %}
                            <a class="btn btn-default" href="{{ path('region_edit', { 'id': entity.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
