{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-11">
            <div class="page-header">
                <h1>Regionen</h1>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Kürzel</th>
                <th>Beschreibung</th>
                <th>Tabelleninhalt</th>
                <th>Tabelle zweite Kopfzeile</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for region in regions %}
                <tr>
                    <td>
                    {% if region.imageName %}
                        <img src="{{ vich_uploader_asset(region, 'imageFile') }}" alt="Logo {{ region.name }}" style="height: 64px"/>
                    {% endif %}
                </td>
                    <td>{{ region.name }}</td>
                    <td>{{ region.namekurz }}</td>
                    <td>{{ region.description }}</td>
                    <td style="background-color: {{ region.farbeTabelleHintergrund }}; color: {{ region.farbeTabelleSchrift }};">Beispiel</td>
                    <td style="background-color: {{ region.farbeTabelleZeile2Hintergrund }}; color: {{ region.farbeTabelleZeile2Schrift }};">Beispiel</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('region_show', { 'id': region.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% if is_granted('ROLE_REGION_MANAGEMENT') %}
                            <a class="btn btn-default" href="{{ path('region_edit', { 'id': region.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
