{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-11">
            <div class="page-header">
                <h1>{{ verband.namekurz }} <small>{{ verband.name }}</small></h1>
            </div>
        </div>
        <div class="col-md-1">
            <a class="btn btn-default" href="{{ path('verband_index') }}">
                <i class="fa fa-list"></i>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('verband_edit', { 'id': verband.id }) }}">
                    <i class="fa fa-pencil"></i>
                </a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_start(delete_form) }}
                <button class="btn btn-default" type="submit" value="Delete"><i class="fa fa-trash"></i></button>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Verbandsnummer</th>
                        <td>{{ verband.number }}</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>{{ verband.website }}</td>
                    </tr>
                    <tr>
                        <th>Beschreibung</th>
                        <td>{{ verband.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            {{ include('region/showList.html.twig', { 'verband': verband }) }}
        </div>
    </div>


{% endblock %}