{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>{{ entity }} <small>{{ entity.verein}} </small></h1>
    <p>{{ entity.bemerkung }}</p>
    <p>Kapitän: {{ entity.captain }}</p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>bestätigt</th>
        </tr>
    </thead>
    <tbody>
        {% for mannschaftspieler in entity.mannschaftspieler %}
        <tr>
            <td>{{ mannschaftspieler.spieler }}</td>
            <td>{{ mannschaftspieler.status }}</td>
            <td>{% if mannschaftspieler.bestaetigt > 0 %}<i class="icon-ok"></i>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('mannschaft') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mannschaft_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('mannschaft_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}