<h2>Mannschaften
{% if isGrantedEdit == true %}
        <a style="float: right" class="btn" href="{{ path('mannschaft_new', { 'id': verein.id }) }}">
            <i class="icon-plus"></i>
        </a>
{% endif %}  
    </h2>
    <table class="table">
        <tbody>
        {% for mannschaft in entities %}
                <tr>
                    <td style="background-color: {{ mannschaft.ligasaison.liga.farbeTabellenKopf }}; color: {{ mannschaft.ligasaison.liga.farbeTabellenKopfSchrift }};">{{ mannschaft.ligasaison.liga.kuerzel }}</td>
                    <td>{{ mannschaft }}</td>
                    <td>
                        {% if mannschaft.captain %}
                        <a href="{{ path('spieler_show', { 'id': mannschaft.captain.id }) }}">{{ mannschaft.captain }}</a>
                        {% else %}
                        Kaptän tbf
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn pull-right" href="{{ path('mannschaft_show', { 'id': mannschaft.id }) }}">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
