{% extends 'LiganetCoreBundle::base.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>{{ entity }} <small>{{ entity.verein}} </small></h1>
            <p>{{ entity.bemerkung }}</p>
            <p>Kapitän: {{ entity.captain }}</p>
        </div>
    </div>
            {{ include('LiganetCoreBundle::headActions.html.twig', { 'art': 'mannschaft', 'id': entity.id,'isGrantedEdit': isGrantedEdit }) }}
</div>
<div class="row-fluid">
    <div class="span6">
        <h2>Allgemein</h2>
        <table class="table">
            <tr>
                <th>Liga</th>
                <td>{{ entity.ligasaison }}</td>
            </tr>
            <tr>
                <th>Spielplan</th>
                <td><a class="btn pull-right" href="{{ path('mannschaft_pdf_spielplan', { 'id': entity.id }) }}"><i class=" icon-download-alt"></i></a> </td>
            </tr>
        </table>
        {{ render(controller('LiganetCoreBundle:MannschaftSpieler:showList',{ 'id': entity.id })) }}  
    </div>
    <div class="span6">
        <h2>Begegnungen</h2>
        <table class="table">
        {% for begegnung in entity.begegnungen1 %}
                <tr>
                    <td>{{ begegnung.spielrunde.nummer }}</td>
                    <td>{{ begegnung.mannschaft1 }}</td>
                    <td>{{ begegnung.mannschaft2 }}</td>
                    <td>{{ begegnung.kugeln1 }} : {{ begegnung.kugeln2 }}</td>
                    <td>{{ begegnung.siege1 }} : {{ begegnung.siege2 }}</td>
                    <td>{{ begegnung.punkt1 }} : {{ begegnung.punkt2 }}</td>
                </tr>
        {% endfor %}  
        {% for begegnung in entity.begegnungen2 %}
                <tr>
                    <td>{{ begegnung.spielrunde.nummer }}</td>
                    <td>{{ begegnung.mannschaft1 }}</td>
                    <td>{{ begegnung.mannschaft2 }}</td>
                    <td>{{ begegnung.kugeln1 }} : {{ begegnung.kugeln2 }}</td>
                    <td>{{ begegnung.siege1 }} : {{ begegnung.siege2 }}</td>
                    <td>{{ begegnung.punkt1 }} : {{ begegnung.punkt2 }}</td>
                </tr>
        {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}