{% extends '::base.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>{{ entity.name }} <small>{{ entity.namekurz }}</small></h1>
            <p><a href="{{ path('verband_show', { 'id': entity.verband.id }) }}">{{ entity.verband.name }}</a></p>
            <p>{{ entity.description }}</p>
        </div>
    </div>
    <div class="span1">
        <a class="btn" href="{{ path('region') }}">
            <i class="icon-list"></i>
        </a>
        {% if isGrantedEdit == true %}
        <a class="btn" href="{{ path('region_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil"></i>
        </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <form  action="{{ path('region_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button  class="btn"  type="submit"><i class="icon-trash"></i></button>
            </form>
        {% endif %}
        </div>
    </div>

    <div class="page-header row-fluid">
        <div class="span6">
            <table class="table">
                <tbody>
                    <tr>
                        <td style="background-color: {{ entity.farbeTabelleZeile2Hintergrund }}; color: {{ entity.farbeTabelleZeile2Schrift }};">Beispiel Tabelle Zeile 2</td>
                    </tr>
                    <tr>
                        <td style="background-color: {{ entity.farbeTabelleHintergrund }}; color: {{ entity.farbeTabelleSchrift }};">Beispiel Tabelleninhalt</td>
                    </tr>
                </tbody>
            </table>
                {% if is_granted('ROLE_REGION_MANAGEMENT') %}
            <a style="float: right" class="btn" href="{{ path('liga_new') }}">
                <i class="icon-plus"></i>
            </a>
                {% endif %}
            <h2>Ligen</h2>

            <table class="table">
                {% for liga in entity.ligen %}
                    <tr>
                        <td style="background-color: {{ liga.farbeTabellenKopf }}; color: {{ liga.farbeTabellenKopfSchrift }}; ">
                            {{ liga.name }}
                                <a style="float: right" class="btn" href="{{ path('liga_show', { 'id': liga.id }) }}">
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </td>
                        </tr>
                {% endfor %}
                    </table>
                </div>

                <div class="span6">
                    {% if is_granted('ROLE_REGION_MANAGEMENT') %}
                        <a style="float: right" class="btn" href="{{ path('verein_new') }}">
                            <i class="icon-plus"></i>
                        </a>
                    {% endif %}    
                        <h2>Vereine</h2>
                    {% for verein in entity.vereine %}
                        <p><a href="{{ path('verein_show', { 'id': verein.id }) }}">{{ verein.name }}</a></p>
                    {% endfor %}
                        </div>
                    </div>
                </div>


{% endblock %}
