<h2>Regionen
{% if isGrantedEdit == true %}
        <a style="float: right" class="btn" href="{{ path('region_new', { 'verband_id': verband.id }) }}">
            <i class="icon-plus"></i>
        </a>
{% endif %}  
    </h2>
    <table class="table">
        <tbody>
        {% for region in entities %}
                <tr>
                    <td>
                    {% if region.document %}
                                            <img class="media-object" alt="Logo {{ region }}" src="{{ asset(region.document.webpath) }}" style="height: 32px" />
                    {% endif %}
                                        </td>
                    <td>{{ region }}</td>
                    <td>{% if region.vereine.count > 0 %}{{ region.vereine.count }} Vereine{% endif %}</td>
                    <td>
                        {% if isGrantedEdit == true %}
                        <a class="btn pull-right" href="{{ path('region_edit', { 'id': region.id }) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                        <a class="btn pull-right" href="{{ path('region_show', { 'id': region.id }) }}">
                            <i class="icon-arrow-right"></i>
                        </a>
                        
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
