{% extends '::base.html.twig' %}
{% block content_head %}
<h1>
{% if region.document %}
<img src="{{ asset(region.document.webpath) }}" />
{% endif %}{{ region.name }} {{ region.namekurz }}
</h1>
<p>Verband: {{ region.verband.name }}</p>
<p>{{ region.description }}</p>

<p>Vereine</p>
<ul>
    {% for verein in region.vereine %}
        <li>{{ verein.name }}</li>
    {% endfor %}
</ul>
{% endblock %}

    