{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>{{ entity.name }} ({{ entity.namekurz }})</h1>
    <p><a href="{{ path('verband_show', { 'id': entity.verband.id }) }}">{{ entity.verband.name }}</a></p>
    <p>{{ entity.description }}</p>
</div>

<div class="page-header row-fluid">
    <div class="span4">
        <ul class="record_actions">
            <li>
                <a href="{{ path('region') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('region_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>
                <form action="{{ path('region_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
            <table class="table">
                <tbody>
                    <tr>
                        <td style="background-color: {{ entity.farbeTabelleZeile2Hintergrund }}; color: {{ entity.farbeTabelleZeile2Schrift }};">Beispiel Tabelle Zeile 2</td>
                    </tr>
                    <tr>
                        <td style="background-color: {{ entity.farbeTabelleHintergrund }}; color: {{ entity.farbeTabelleSchrift }};">Beispiel Tabelleninhalt</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span4">
            <h2>Ligen</h2>
                {% for liga in entity.ligen %}
            <p><a href="{{ path('liga_show', { 'id': liga.id }) }}">{{ liga.name }}</a></p>
                {% endfor %}
            </div>

            <div class="span4">
                <h2>Vereine</h2>
                {% for verein in entity.vereine %}
                <p><a href="{{ path('verein_show', { 'id': verein.id }) }}">{{ verein.name }}</a></p>
                {% endfor %}
                </div>
            </div>
        </div>


{% endblock %}
