<h2>Spieler
    {% if is_granted('edit', mannschaft) %}
        <a style="float: right" class="btn btn-default" href="{{ path('mannschaftspieler_new', { 'id': mannschaft.id }) }}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}  
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>bestätigt</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for mannschaftspieler in mannschaft.mannschaftspieler %}
            <tr>
                <td>{{ mannschaftspieler.spieler }}</td>
                <td>{{ mannschaftspieler.status }}</td>
                <td>{% if mannschaftspieler.bestaetigt > 0 %}<i class="fa fa-check"></i>{% endif %}</td>
                <td>
                    {% if is_granted('edit', mannschaft) %}
                        <a class="btn btn-default pull-right" href="{{ path('mannschaftspieler_edit', { 'id': mannschaftspieler.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                    <a class="btn btn-default pull-right" href="{{ path('mannschaftspieler_show', { 'id': mannschaftspieler.id }) }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
