{% extends 'base.html.twig' %}

{% block content %}
    <h1>SpielArt list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Namekurz</th>
                <th>Anzahlspieler</th>
                <th>Mixte</th>
                <th>Nummer</th>
                <th>Reihenfolge</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spielArt in spielArts %}
            <tr>
                <td><a href="{{ path('spielart_show', { 'id': spielArt.id }) }}">{{ spielArt.id }}</a></td>
                <td>{{ spielArt.name }}</td>
                <td>{{ spielArt.nameKurz }}</td>
                <td>{{ spielArt.anzahlSpieler }}</td>
                <td>{% if spielArt.mixte %}Yes{% else %}No{% endif %}</td>
                <td>{{ spielArt.nummer }}</td>
                <td>{{ spielArt.reihenfolge }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('spielart_show', { 'id': spielArt.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('spielart_edit', { 'id': spielArt.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('spielart_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
