{% extends 'LiganetCoreBundle::base.html.twig' %}
{% block content %}
<h1>Tabelle list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Runde</th>
            <th>Rang</th>
            <th>Mannschaft</th>
            <th>Kugeln1</th>
            <th>Kugeln2</th>
            <th>Differenz</th>
            <th>Spiele1</th>
            <th>Spiele2</th>
            <th>Punkte1</th>
            <th>Punkte2</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('tabelle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.spielrunde.nummer }}</td>
            <td>{{ entity.rang }}</td>
            <td>{{ entity.mannschaft }}</td>
            <td>{{ entity.kugeln1 }}</td>
            <td>{{ entity.kugeln2 }}</td>
            <td>{{ entity.differenz }}</td>
            <td>{{ entity.spiele1 }}</td>
            <td>{{ entity.spiele2 }}</td>
            <td>{{ entity.punkte1 }}</td>
            <td>{{ entity.punkte2 }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('tabelle_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
