<h1>Tabelle</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Rang</th>
            <td>{{ entity.rang }}</td>
        </tr>
        <tr>
            <th>Kugeln1</th>
            <td>{{ entity.kugeln1 }}</td>
        </tr>
        <tr>
            <th>Kugeln2</th>
            <td>{{ entity.kugeln2 }}</td>
        </tr>
        <tr>
            <th>Differenz</th>
            <td>{{ entity.differenz }}</td>
        </tr>
        <tr>
            <th>Spiele1</th>
            <td>{{ entity.spiele1 }}</td>
        </tr>
        <tr>
            <th>Spiele2</th>
            <td>{{ entity.spiele2 }}</td>
        </tr>
        <tr>
            <th>Punkte1</th>
            <td>{{ entity.punkte1 }}</td>
        </tr>
        <tr>
            <th>Punkte2</th>
            <td>{{ entity.punkte2 }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tabelle') }}">
            Back to the list
        </a>
    </li>
</ul>
