{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>Zuordnung Liga und Saison</h1>
</div>


<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Saison</th>
            <th>Liga</th>
            <th>Gesperrt</th>
            <th>Bemerkung</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.saison.saison }}</a></td>
                <td>{{ entity.liga.name }}</a></td>
                <td>
                    {% if entity.gesperrt > 0 %}
                    <i class="icon-ok"></i>
                    {% endif %}
                </td>
                
                <td>{{ entity.bemerkung }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ligasaison_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ligasaison_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ligasaison_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
