{% extends '::base.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-md-11">
            <div class="page-header">
                <h1>Spieler</h1>
            </div>
        </div>
        <div class="col-md-1">
            {% if is_granted('ROLE_LEAGUE_MANAGEMENT') %}
                <a class="btn btn-default" href="{{ path('spieler_new', { 'id': 0 }) }}">
                    <i class="fa fa-plus"></i>
                </a>
            {% endif %}    
        </div>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Verein</th>
                <th>Nummerlizenz</th>
                <th>Trainer</th>
                <th>Schiedsrichter</th>
                <th>Bestaetigt</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.vorname }} {{ entity.nachname }}</td>
                    <td>
                        {% if entity.email %}
                            <a href="mailto:{{ entity.email }}"><i class="icon-envelope"></i></a>
                            {% endif %}
                    </td>
                    <td>{{ entity.telefon }}</td>
                    <td>
                        {% if entity.verein %}
                            {{ entity.verein.namekurz }}
                        {% endif %}
                    </td>
                    <td>{{ entity.nummerlizenz }}</td>
                    <td>{% if  entity.trainer > 0 %}<i class="icon-ok"></i>{% endif %}</td>
                    <td>{% if  entity.schiedsrichter > 0 %}<i class="icon-ok"></i>{% endif %}</td>
                    <td>{% if  entity.bestaetigt > 0 %}<i class="icon-ok"></i>{% endif %}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('spieler_show', { 'id': entity.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% if isGrantedEdit == true %}
                            <a class="btn btn-default" href="{{ path('spieler_edit', { 'id': entity.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
