{% if is_granted('ROLE_REGION_MANAGEMENT') %}
<a style="float: right" class="btn" href="{{ path('spieler_new', { 'id': verein.id }) }}">
    <i class="icon-plus"></i>
</a>
{% endif %}  
<h2>Spieler</h2>
<table class="table table-striped">
    <tbody>
            {% for spieler in entities %}
            <tr>
                <td><a href="{{ path('spieler_show', { 'id': spieler.id }) }}">
                     {{ spieler.vorname }} {{ spieler.nachname }}
                            </a></td>
                        <td>{{ spieler.nummerlizenz }}</td>
                        <td>
                            {% if isGrantedEdit == true %}
                        <a class="btn pull-right" href="{{ path('spieler_edit', { 'id': spieler.id }) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                        <a class="btn pull-right" href="{{ path('spieler_show', { 'id': spieler.id }) }}">
                            <i class="icon-arrow-right"></i>
                        </a>
                        
                    </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
