{% if spieler.id>0 %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-user icon-white"></i> {{ app.user.username }}
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-header">Name</li>
            <li><a href="{{ path('spieler_show', { 'id': spieler.id }) }}">{{ spieler }}</a></li>
            <li class="nav-header">Verein</li>
            <li>
                <a href="{{ path('verein_show', { 'id': spieler.verein.id }) }}">
                    {% if spieler.verein.document %}
                    <img alt="Logo {{ spieler.verein.namekurz }}"                      
                         src="{{ asset(spieler.verein.document.webpath) }}"                          
                         style="height: 32px" /> 
                    {% endif %}
                {{ spieler.verein.namekurz }}
                </a>
            </li>
            <li class="nav-header">Aktionen</li>
            <li><a href="{{ path('fos_user_change_password') }}">Passwort ändern</a></li>
            {% if is_granted('ROLE_ADMIN') %}
             <li><a href="{{ path('admin_clear_cache') }}">Cache leeren</a></li>
            {% endif %}
            <li class="nav-header">Funktionen</li>
            {% for region in spieler.regionsleiter %}
            <li><a href="{{ path('region_show', { 'id': region.id }) }}">Ligaleitung {{ region.name }}</a></li>
            {% endfor %}
            {% for ligasaison in spieler.staffelleiter %}
            <li><a href="{{ path('ligasaison_show', { 'id': ligasaison.id }) }}">Staffelleitung {{ ligasaison }}</a></li>
            {% endfor %}
            {% for verein in spieler.vereinsleiter %}
            <li><a href="{{ path('verein_show', { 'id': verein.id }) }}">Vereinsleitung {{ verein.namekurz }}</a></li>
            {% endfor %}
            {% for mannschaft in spieler.captainformannschaften %}
            <li><a href="{{ path('mannschaft_show', { 'id': mannschaft.id }) }}">Kapitän {{ mannschaft }}</a></li>
            {% endfor %}
            
                
        </ul>
    </li>
{% else %}
    <li class="navbar-text"><i class="icon-user icon-white"></i> {{ app.user.username }}</li>
{% endif %}