{% extends '::base.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="page-header span8">
        <h1>{{ entity }}</h1>
    </div>
    <div class="span4">
        <p>
        {% if entity.verein.document %}
                <img alt="Logo {{ entity.verein }}" src="{{ asset(entity.verein.document.webpath) }}" style="height: 60px" /> 
        {% endif %}
                <a href="{{ path('verein_show', { 'id': entity.verein.id }) }}">{{ entity.verein }}</a>
            </p>
        </div> 
    </div>
    <div class="row-fluid">
        <div class="span2">
            <a class="btn" href="{{ path('spieler') }}">Zurück zur Liste</a>
        </div>
    {% if is_granted('ROLE_CAPTAIN') %}
        <div class="span1">
            <a class="btn" href="{{ path('spieler_edit', { 'id': entity.id }) }}">Edit</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="span1">
            <form action="{{ path('spieler_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                    <button class="btn"  type="submit">Delete</button>
                </form>
            </div>
        {% endif %}
        </div>

        <div class="row-fluid">
            <div class="span4">
                <table class="table">
                    <tr>
                        <th>Adresse</th>
                        <td>{{ entity.strasse }}<br />
                  {{ entity.lkz }} {{ entity.plz }} {{ entity.ort }}
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ entity.telefon }}</td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td>{{ entity.fax }}</td>
                        </tr>
                        <tr>
                            <th>Lizenznummer</th>
                            <td>{{ "%03s"|format(entity.verein.region.verband.number) }}-{{ "%03s"|format(entity.verein.nummer) }}-{{ "%03s"|format(entity.nummerlizenz) }}</td>
                        </tr>
                    {% if entity.trainer > 0 %}
                        <tr>
                            <th>Trainer</th>
                            <td>
                                <i class="icon-ok"></i>
                            </td>
                        </tr>
                    {% endif %}
                    {% if entity.schiedsrichter > 0 %}
                        <tr>
                            <th>Schiedsrichter</th>
                            <td>
                                <i class="icon-ok"></i>
                            </td>
                        </tr>
                    {% endif %}
                    </table>
                </div>
                <div class="span4">
                    
                        <h2>Einsätze</h2>
                        {% for mannschaftspieler in entity.mannschaftspieler %}
                        <p> {{ mannschaftspieler.mannschaft }} {{ mannschaftspieler.status }}</p>
                        {% endfor %}
                </div>
                <div class="span4">
                    <table class="table">
                        <tr>
                            <th>Letzter Bearbeiter</th>
                            <td>{{ entity.veraendertvon }}</td>
                        </tr>
                        <tr>
                            <th>Datensatz geändert am:</th>
                            <td>{{ entity.veraendertam|date('d.m.Y H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Bestaetigt</th>
                            <td>{{ entity.bestaetigt }}</td>
                        </tr>
                    </table>
                </div>
            </div>

{% endblock %}