{% extends '::base.html.twig' %}
{% block content %}

<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>Spielrunden</h1>
        </div>
    </div>
    <div class="span1">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn" href="{{ path('spielrunde_new') }}">
            <i class="icon-plus"></i>
        </a>
        {% endif %}    
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nummer</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('spielrunde_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nummer }}</td>
            <td>
                        <a class="btn" href="{{ path('spielrunde_show', { 'id': entity.id }) }}">
                            <i class="icon-arrow-right"></i>
                        </a>
                        {% if isGrantedEdit == true %}
                        <a class="btn" href="{{ path('spielrunde_edit', { 'id': entity.id }) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                    </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
