{% extends '::base.html.twig' %}
{% block content_head %}
<h1>
{% if verband.document %}
<img src="{{ asset(verband.document.webpath) }}" />
{% endif %} {{ verband.namekurz }} </h1>
<p>{{ verband.name }}</p>
<p>{{ verband.description }}</p>
<h2>Regionen</h2>
<ul>
    {% for region in verband.regions %}
        <li><a href="{{ path('region_show', {'id': region.id}) }}">{{ region.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

    