{% extends '::base.html.twig' %}

{% block content_head %}
<h1>Hallo {{ verband.name }} {{ verband.number }}</h1>
<p>{{ verband.description }}</p>
{% if verband.document %}
<p><img src="{{ asset(verband.document.webpath) }}" />{{verband.document.mimetype}} {{verband.document.name}}</p>
{% endif %}
{% endblock %}

    