{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>{{ entity.namekurz }}</h1>
    <p>{{ entity.name }}</p>
</div>


<a class="btn" href="{{ path('verband') }}">
    Back to the list
</a>

<a class="btn" href="{{ path('verband_edit', { 'id': entity.id }) }}">
    Edit
</a>

<form action="{{ path('verband_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
        <button class="btn" type="submit">Delete</button>
    </form>


    <table class="table">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ entity.website }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Regionen</th>
                <td>
                {% for region in entity.regions %}
                        <p><a href="{{ path('region_show', { 'id': region.id }) }}">{{ region.name }}</a></p>
                {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

{% endblock %}