{% extends '::base.html.twig' %}
{% block content %}

<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>Ligen</h1>
        </div>
    </div>
    <div class="span1">
        {% if is_granted('ROLE_REGION_MANAGEMENT') %}
        <a class="btn" href="{{ path('liga_new') }}">
            <i class="icon-plus"></i>
        </a>
        {% endif %}    
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Region</th>
            <th>Name</th>
            <th>Tabellenkopf</th>
            <th>Tabellenüberschrift</th>
            <th>Email</th>
            <th>Kuerzel</th>
            <th>Bemerkung</th>
            <th>Newsfeed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.region }}</td>
            <td>{{ entity.name }}</td>
            <td style="background-color: {{ entity.farbeTabellenKopf }}; color: {{ entity.farbeTabellenKopfSchrift }};">Beispiel</td>
            <td style="background-color: {{ entity.farbeUeberschriftHintergrund }}; color: {{ entity.farbeUeberschrift }};">Beispiel</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.kuerzel }}</td>
            <td>{{ entity.bemerkung }}</td>
            <td>{{ entity.newsfeed }}</td>
            <td>
                        <a class="btn" href="{{ path('liga_show', { 'id': entity.id }) }}">
                            <i class="icon-arrow-right"></i>
                        </a>
                        {% if isGrantedEdit == true %}
                        <a class="btn" href="{{ path('liga_edit', { 'id': entity.id }) }}">
                            <i class="icon-pencil"></i>
                        </a>
                        {% endif %}
                    </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
