{% extends '::base.html.twig' %}
{% block content %}
<div class="page-header">
    <h1>{{ entity.name }} <small>{{ entity.region }}</small></h1>
    <p>{{ entity.bemerkung }}</p>
</div>


<table class="table">
    <tbody>
        <tr>
            <th>Tabellenkopf</th>
            <td style="background-color: {{ entity.farbeTabellenKopf }}; color: {{ entity.farbeTabellenKopfSchrift }};">Beispiel</td>

        </tr>
        <tr>
            <th>Überschrift</th>
            <td style="background-color: {{ entity.farbeUeberschriftHintergrund }}; color: {{ entity.farbeUeberschrift }};">Beispiel</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Kuerzel</th>
            <td>{{ entity.kuerzel }}</td>
        </tr>
        <tr>
            <th>Newsfeed</th>
            <td>{{ entity.newsfeed }}</td>
        </tr>
    </tbody>
</table>

<h2>Mannschaften</h2>
<div class="row-fluid">
        {% for ligasaison in entity.ligasaison %}
        <div class="span2">
            <h3>Saison {{ligasaison.saison}}</h3>
        {% for mannschaft in ligasaison.mannschaften %}
            <p><a href="{{ path('mannschaft_show', { 'id': mannschaft.id }) }}">{{ mannschaft }}</a></p>
        {% endfor %}
            </div>
        {% endfor %}
        </div>
        <ul class="record_actions">
            <li>
                <a href="{{ path('liga') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('liga_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>
                <form action="{{ path('liga_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            </ul>
{% endblock %}
