{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Ergebnisformular</h1>
        <table class="table">
            <tr>
                <th>Liga</th>
                <td>{{ begegnung.spielrunde.spieltag.ligasaison }}</td>
            </tr>
            <tr>
                <th>Spielort</th>
                <td>{{ begegnung.spielrunde.spieltag.austragenderverein }}</td>
            </tr>
            <tr>
                <th>Spieltag</th>
                <td>{{ begegnung.spielrunde.spieltag.nummer }}</td>
            </tr>
            <tr>
                <th>Begegnung</th>
                <td>{{ begegnung.spielrunde.nummer }}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4 offset1" style="text-align: center">
            {% if begegnung.mannschaft1.verein.document %}
                <img class="media-object" alt="Logo {{ begegnung.mannschaft1.verein }}" src="{{ asset(begegnung.mannschaft1.verein.document.webpath) }}" style="height: 32px" />
            {% endif %}
            {{ begegnung.mannschaft1 }}
        </div>
        <div class="col-md-4" style="text-align: center">
            {% if begegnung.mannschaft2.verein.document %}
                <img class="media-object" alt="Logo {{ begegnung.mannschaft2.verein }}" src="{{ asset(begegnung.mannschaft2.verein.document.webpath) }}" style="height: 32px" />
            {% endif %}
            {{ begegnung.mannschaft2 }}
        </div>
    </div>
    <hr />
    {{ form_start(form) }}
    {# iterate over each existing tag and render its only field: name #}
    {% for ergebnis in form.ergebnisse %}
        <div class="row">   
            <div class="col-md-1">
                <p>Platz</p>
                <p>{{ ergebnis.vars.value.platz }}</p>
            </div>
            <div class="col-md-4">
                <p>{{ ergebnis.vars.value.spielart }}</p>
                {{ form_errors(ergebnis.spieler1_1) }}{{ form_widget(ergebnis.spieler1_1, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                {{ form_errors(ergebnis.spieler1_2) }}{{ form_widget(ergebnis.spieler1_2, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                {{ form_errors(ergebnis.spieler1_3) }}{{ form_widget(ergebnis.spieler1_3, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                <p>Auswechselspieler</p>
                {{ form_errors(ergebnis.ersatz1) }}{{ form_widget(ergebnis.ersatz1, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                f체r
                {{ form_errors(ergebnis.ersatzFuer1) }}{{ form_widget(ergebnis.ersatzFuer1, { 'attr': {'class': 'ergebnis-spieler'} }) }}
            </div>
            <div class="col-md-4">
                <p>{{ ergebnis.vars.value.spielart }}</p>
                {{ form_errors(ergebnis.spieler2_1) }}{{ form_widget(ergebnis.spieler2_1, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                {{ form_errors(ergebnis.spieler2_2) }}{{ form_widget(ergebnis.spieler2_2, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                {{ form_errors(ergebnis.spieler2_3) }}{{ form_widget(ergebnis.spieler2_3, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                <p>Auswechselspieler</p>
                {{ form_errors(ergebnis.ersatz2) }}{{ form_widget(ergebnis.ersatz2, { 'attr': {'class': 'ergebnis-spieler'} }) }}
                f체r
                {{ form_errors(ergebnis.ersatzFuer2) }}{{ form_widget(ergebnis.ersatzFuer2, { 'attr': {'class': 'ergebnis-spieler'} }) }}
            </div>   
            <div class="col-md-2">
                <p>Kugeln</p>
                {{ form_errors(ergebnis.kugeln1) }}{{ form_widget(ergebnis.kugeln1, { 'attr': {'class': 'ergebnis-kugeln'} }) }}
                {{ form_errors(ergebnis.kugeln2) }}{{ form_widget(ergebnis.kugeln2, { 'attr': {'class': 'ergebnis-kugeln'} }) }}
            </div>
        </div>
        {{ form_rest(ergebnis) }}
        <hr />
    {% endfor %}

    <div class="row">
        <div class="col-md-2">
            <p>Unterschrift Kapit채n {{ begegnung.mannschaft1.namekurz }}</p>
            {{ form_errors(form.unterschrift1) }}{{ form_widget(form.unterschrift1) }}
        </div>
        <div class="col-md-2">
            <p>Unterschrift Kapit채n {{ begegnung.mannschaft2.namekurz }}</p>
            {{ form_errors(form.unterschrift2) }}{{ form_widget(form.unterschrift2) }}
        </div>
        <div class="col-md-2">
            <p>Unterschrift<br />Staffelleiter</p>
                {{ form_errors(form.unterschriftLeiter) }}{{ form_widget(form.unterschriftLeiter) }}
        </div>
        <div class="col-md-4">
            <p>Bemerkungen</p>
            {{ form_errors(form.bemerkung) }}{{ form_widget(form.bemerkung) }}
        </div>
        <div class="col-md-2">
            {{ form_rest(form) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
