{% extends 'base.html.twig' %}

{% block content %}
<h1>ModusRunde</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ modusRunde.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ modusRunde.name }}</td>
        </tr>
        <tr>
            <th>Beschreibung</th>
            <td>{{ modusRunde.beschreibung }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('modusrunden_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('modusrunden_edit', { 'id': modusRunde.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('modusrunden_delete', { 'id': modusRunde.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
