<h1>Ergebnis list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Platz</th>
            <th>Bemerkung</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Kugeln1</th>
            <th>Kugeln2</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.platz }}</td>
            <td>{{ entity.bemerkung }}</td>
            <td>{{ entity.spieler11 }}</td>
            <td>{{ entity.spieler12 }}</td>
            <td>{{ entity.spieler13 }}</td>
            <td>{{ entity.spieler21 }}</td>
            <td>{{ entity.spieler22 }}</td>
            <td>{{ entity.spieler23 }}</td>
            <td>{{ entity.kugeln1 }}</td>
            <td>{{ entity.kugeln2 }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('ergebnis_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ergebnis_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


