{% extends 'base.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-11">
        <div class="page-header">
            <h1>{{ mannschaft }} <small>{{ mannschaft.verein}} </small></h1>
            <p>{{ mannschaft.bemerkung }}</p>
            <p>Kapitän: {{ mannschaft.captain }}</p>
        </div>
    </div>
            {{ include('headActions.html.twig', { 'art': 'mannschaft', 'id': mannschaft.id,'isGrantedEdit':  is_granted('edit', mannschaft) }) }}
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Allgemein</h2>
        <table class="table">
            <tr>
                <th>Liga</th>
                <td>{{ mannschaft.ligasaison }}</td>
            </tr>
            <tr>
                <th>Spielplan</th>
                <td><a class="btn btn-default pull-right" href="{{ path('mannschaft_pdf_spielplan', { 'id': mannschaft.id }) }}"><i class="fa fa-download"></i></a> </td>
            </tr>
        </table>
        {{ include('mannschaftspieler/showList.html.twig',{ 'mannschaft': mannschaft }) }}  
    </div>
    <div class="col-md-6">
        <h2>Begegnungen</h2>
        <table class="table">
        {% for begegnung in mannschaft.begegnungen1 %}
                <tr>
                    <td>{{ begegnung.spielrunde.nummer }}</td>
                    <td>{{ begegnung.mannschaft1 }}</td>
                    <td>{{ begegnung.mannschaft2 }}</td>
                    <td>{{ begegnung.kugeln1 }} : {{ begegnung.kugeln2 }}</td>
                    <td>{{ begegnung.siege1 }} : {{ begegnung.siege2 }}</td>
                    <td>{{ begegnung.punkt1 }} : {{ begegnung.punkt2 }}</td>
                </tr>
        {% endfor %}  
        {% for begegnung in mannschaft.begegnungen2 %}
                <tr>
                    <td>{{ begegnung.spielrunde.nummer }}</td>
                    <td>{{ begegnung.mannschaft1 }}</td>
                    <td>{{ begegnung.mannschaft2 }}</td>
                    <td>{{ begegnung.kugeln1 }} : {{ begegnung.kugeln2 }}</td>
                    <td>{{ begegnung.siege1 }} : {{ begegnung.siege2 }}</td>
                    <td>{{ begegnung.punkt1 }} : {{ begegnung.punkt2 }}</td>
                </tr>
        {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
