{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-11">
        <div class="page-header">
            <h1>Spielerstatus</h1>
        </div>
    </div>
    <div class="col-md-1">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('spielerstatus_new') }}">
            <i class="fa fa-plus"></i>
        </a>
        {% endif %}    
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Kurz</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
    {% for status in spielerStatuses %}
            <tr>
                <td>{{ status.name }}</td>
                <td>{{ status.kurz }}</td>
                <td>
                        <a class="btn btn-default" href="{{ path('spielerstatus_show', { 'id': status.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-default" href="{{ path('spielerstatus_edit', { 'id': status.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% endif %}
                    </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}
