{% extends '::base.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-md-11">
        <div class="page-header">
            <h1>{{ entity.liga }} {{ entity.saison }} 
                <small>{{ entity.liga.region }}</small>
            </h1>
                <p>{{ entity.bemerkung }}</p>
        </div>
    </div>
    <div class="col-md-1">
        <a class="btn btn-default" href="{{ path('ligasaison') }}">
            <i class="fa fa-list"></i>
        </a>
        {% if isGrantedEdit == true %}
        <a class="btn btn-default" href="{{ path('ligasaison_edit', { 'id': entity.id }) }}">
            <i class="fa fa-pencil"></i>
        </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <form  action="{{ path('ligasaison_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button  class="btn btn-default"  type="submit"><i class="fa fa-trash"></i></button>
            </form>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tbody>
                    <tr>
                        <th>gesperrt</th>
                        <td>
                {% if entity.gesperrt > 0 %}
                                <i class="fa fa-check"></i>
                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Aktuell</th>
                            <td>
                {% if entity.actual > 0 %}
                                    <i class="fa fa-check"></i>
                {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Mannschaften</h2>
                    <table class="table">
                    {% for mannschaft in entity.mannschaften %}
                            <tr>
                                <td>
                    {% if mannschaft.verein.document %}
                            <img class="media-object" alt="Logo {{ mannschaft.verein }}" src="{{ asset(mannschaft.verein.document.webpath) }}" style="height: 32px" />
                    {% endif %}
                        </td>
                                <td>{{ mannschaft.verein }} {{ mannschaft.rang }}</td>
                                <td>
                                    <a class="btn btn-default pull-right" href="{{ path('mannschaft_show', { 'id': mannschaft.id }) }}">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </td>
                            </tr>
                    {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-8">
                        {{ include('LiganetCoreBundle:Spieltag:showList.html.twig', { 'ligasaison': entity }) }}
                        </div>
                    </div>
{% endblock %}
