<h2>Saisons
    {% if is_granted('ROLE_LEAGUE_MANAGEMENT') %}
        <a style="float: right" class="btn btn-default" href="{{ path('ligasaison_new', { 'liga_id': liga.id }) }}">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}  
</h2>
<table class="table">
    <tbody>
        {% for ligasaison in liga.ligasaison %}
            <tr>
                <td style="background-color: {{ ligasaison.liga.farbeTabellenKopf }}; color: {{ ligasaison.liga.farbeTabellenKopfSchrift }};">{{ ligasaison.liga.kuerzel }}</td>
                <td>{{ ligasaison }}</td>
                <td>
                    <a class="btn btn-default pull-right" href="{{ path('ligasaison_show', { 'id': ligasaison.id }) }}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
