{% extends '::base.html.twig' %}
{% block content %}
<h1>Document list</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Mimetype</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.path }}</td>
            <td>{{ entity.mimetype }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('document_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('document_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('document_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
