{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-11">
            <div class="page-header">
                <h1>Vereine</h1>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Kürzel</th>
                <th>Nummer</th>
                <th>Kontakt</th>
                <th>Homepage</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for verein in vereins %}
                <tr>
                    <td>
                        {% if verein.imageName %}
                            <img src="{{ vich_uploader_asset(verein, 'imageFile') }}" alt="Logo {{ verein.name }}" style="height: 64px"/>
                        {% endif %}
                    </td>
                    <td>{{ verein.namekurz }}</td>
                    <td>{{ verein.kuerzel }}</td>
                    <td>{{ verein.nummer }}</td>
                    <td>
                        {% for leiter in verein.leiter %}
                            <a href="{{ path('spieler_show', { 'id': leiter.id }) }}">{{ leiter }}</a><br />
                        {% endfor %}
                    </td>
                    <td><a href="{{ verein.homepage }}" target="_blank">{{ verein.homepage }}</a></td>
                    <td>
                        <a class="btn btn-default" href="{{ path('verein_show', { 'id': verein.id }) }}">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                        {% if is_granted("edit", verein) %}
                            <a class="btn btn-default" href="{{ path('verein_edit', { 'id': verein.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
