{% extends '::base.html.twig' %}
{% block content %}
<h1>Spieltag edit</h1>

<form action="{{ path('spieltag_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn" type="submit">Speichern</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('spieltag') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('spieltag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
