{% extends '::base.html.twig' %}
{% block content %}

<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>Spieltage</h1>
        </div>
    </div>
    <div class="span1">
        {% if is_granted('ROLE_LEAGUE_MANAGEMENT') %}
            <a class="btn" href="{{ path('spieltag_new', { 'ligasaison_id': 0 }) }}">
                <i class="fa fa-plus"></i>
            </a>
        {% endif %}    
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Liga</th>
                <th>Nummer</th>
                <th>Datum</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    {% for entity in entities %}
                <tr>
                    <td style="background-color: {{ entity.ligasaison.liga.farbeTabellenKopf }}; color: {{ entity.ligasaison.liga.farbeTabellenKopfSchrift }};">
                        {{ entity.ligasaison.liga.name }} {{ entity.ligasaison.liga.region.namekurz }}
                        </td>
                    <td>{{ entity.nummer }}</td>
                    <td>{% if entity.datum %}{{ entity.datum|date('d.m.Y H:i') }}{% endif %}</td>
                    <td>
                        {% if isGrantedEdit == true %}
                            <a class="btn pull-right" href="{{ path('spieltag_edit', { 'id': entity.id }) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                            <a class="btn pull-right" href="{{ path('spieltag_show', { 'id': entity.id }) }}">
                                <i class="fa fa-arrow-right"></i>
                            </a>

                        </td>
                    </tr>
    {% endfor %}
                </tbody>
            </table>

{% endblock %}
