{% extends '::base.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="span11">
        <div class="page-header">
            <h1>{{ entity.datum|date('d.m.Y H:i') }} <small>Spieltag {{ entity.nummer }} {{ entity.ligasaison.liga }}</small></h1>
        </div>
    </div>
    <div class="span1">
        <a class="btn" href="{{ path('spieltag') }}">
            <i class="icon-list"></i>
        </a>
        {% if isGrantedEdit == true %}
        <a class="btn" href="{{ path('spieltag_edit', { 'id': entity.id }) }}">
            <i class="icon-pencil"></i>
        </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <form  action="{{ path('spieltag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
                <button  class="btn"  type="submit"><i class="icon-trash"></i></button>
            </form>
        {% endif %}
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Liga</th>
                <td>{{ entity.ligasaison.liga }}</td>
            </tr>
            <tr>
                <th>Nummer</th>
                <td>{{ entity.nummer }}</td>
            </tr>
            <tr>
                <th>Ort</th>
                <td>{{ entity.austragenderVerein.name }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ entity.datum|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <th>Spielrunden</th>
                <td>
                {% for spielrunde in entity.runden %}
                        <p><a href="{{ path('spielrunde_show', { 'id': spielrunde.id }) }}">
                        {{ spielrunde.nummer }}</a>
                    {% endfor %}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
{% endblock %}
